@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')

$fondo-claro: #FFF
$texto-claro: #000

$fondo-oscuro: #000
$texto-oscuro: #FFF


@import "Home"
@import "Navbar"

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: "Roboto"

a:visited
  color: inherit
  text-decoration: none

a
  text-decoration: none

input:focus
  outline: none
  box-shadow: none

.top
  margin-top: 0.94rem

.center
  margin: 0 auto