@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nunito:wght@300&family=Roboto:wght@500&display=swap");
nav {
  padding: 1rem;
  color: #d5c7bc;
  display: flex;
  justify-content: space-between;
}

.home-button {
  background-image: url("../assets/dp-logo.jpeg");
  background-size: cover;
  background-position: center;
}

.links-desktop {
  font-size: 1.5rem;
  font-weight: 600;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-desktop {
  display: flex;
  gap: 0.7rem;
}

.social-button {
  width: 2.5rem;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flags {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.spain {
  background-image: url("../assets/spain.svg");
}

.england {
  background-image: url("../assets/england.svg");
}

.hamburger-button {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .links-desktop {
    display: none;
  }
  .buttons-desktop {
    display: none;
  }
  nav {
    padding: 0.5rem;
  }
  .hamburger-button {
    display: flex;
    background-image: url("../assets/hamburger.svg");
    background-color: transparent;
  }
  .hidden {
    display: flex;
    flex-direction: column;
    color: #d5c7bc;
    background-color: #810808;
    padding-bottom: 0.7rem;
    padding-top: 0.3rem;
  }
  .links-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .buttons-mobile {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
  }
  .buttons-mobile button {
    width: 2rem;
    height: 2rem;
  }
  .social-button {
    width: 2rem;
    height: 2rem;
  }
}
.home-image {
  height: 30vh;
  width: 50vw;
}
.home-image img {
  object-fit: cover;
  object-position: 0 30%;
}

.buy-link {
  font-size: 1.5rem;
  font-weight: 700;
}

.buy-link:hover {
  font-style: italic;
}

@media (max-width: 768px) {
  .home-image {
    height: 30vh;
    width: 50vw;
  }
  .home-image img {
    object-fit: cover;
    object-position: 0 30%;
  }
}
.about-image {
  height: 35vh;
  width: 45vw;
}
.about-image img {
  object-fit: cover;
  object-position: 0 25%;
}

@media (max-width: 768px) {
  .about-image {
    height: 12rem;
    width: 70vw;
  }
  .about-image img {
    object-fit: cover;
    object-position: 0 25%;
  }
  .about-text {
    font-size: 1.3rem;
    width: 70vw;
  }
}
.paintings-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  row-gap: 15px;
  column-gap: 15px;
  width: 90%;
}

.painting {
  width: 100%;
  aspect-ratio: 1/1.414;
}
.painting img {
  display: block;
}

@media (max-width: 768px) {
  .paintings-container {
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
.schedule-image {
  width: 40vw;
  height: 30vw;
}
.schedule-image img {
  object-fit: cover;
  object-position: 0 45%;
}

@media (max-width: 768px) {
  .schedule-image {
    width: 70vw;
    height: 60vw;
  }
  .schedule-image img {
    object-fit: cover;
    object-position: 0 45%;
  }
}
.contact-image {
  width: 20rem;
  height: 18rem;
}
.contact-image img {
  object-fit: cover;
  object-position: 0 8%;
}

span {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-image {
    width: 17rem;
    height: 17rem;
  }
  .contact-image img {
    object-fit: cover;
    object-position: 0 10%;
  }
  .email {
    font-size: 1.3rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: orange;
}

.all-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #810808;
  background-image: url("../assets/11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

.all {
  flex: 1;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #d5c7bc;
}

figure img {
  width: 100%;
  height: 100%;
}

p {
  font-weight: 800;
  font-size: 1.5rem;
  width: 50%;
}

@media (max-width: 768px) {
  .all {
    padding: 0;
    gap: 1.5rem;
  }
  p {
    width: 80%;
  }
}

/*# sourceMappingURL=App.css.map */
