.contact-image
  width: 20rem
  height: 18rem
  img
    object-fit: cover
    object-position: 0 8%

span
  text-decoration: underline

@media (max-width: 768px)
  .contact-image
    width: 17rem
    height: 17rem
    img
      object-fit: cover
      object-position: 0 10%
  
  .email
    font-size: 1.3rem
