.home-image
  height: 30vh
  width: 50vw
  img
    object-fit: cover
    object-position: 0 30%
  
@media (max-width: 768px) 
  .home-image 
    height: 30vh
    width: 50vw
    img
      object-fit: cover
      object-position: 0 30%