.navbar
  padding: 1rem 1rem 0 2rem
  width: 100%
  display: flex
  justify-content: space-between

.nav-oscuro
  background-color: $fondo-oscuro
  color: $texto-oscuro

.nav-claro
  background-color: $fondo-claro
  color: $texto-claro

.logo
  height: 2.5rem
  width: 2.5rem
  img
    border-radius: 50%
    height: 100%
    width: 100%

.titulos
  display: flex
  list-style: none
  font-size: 1.5rem
  font-weight: 600
  align-items: center
  width: 60%
  justify-content: space-between

.hamburguesa
  display: none

.botones
  display: flex 
  div, a
    margin-left: 0.7rem
 
.boton
  width: 2.5rem
  border-radius: 50%
  background-color: #ccc
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

// .banderas
//   height: 2.5rem
//   width: 2.5rem
//   cursor: pointer

.flags
  width: 2.5rem
  height: 2.5rem
  border-radius: 50%
  border: none
.spain  
  background-image: url("../assets/spain.svg")
.england
  background-image: url("../assets/england.svg")

@media screen and (max-width: 768px) 
  .navbar
    flex-direction: column
    align-items: center

  .titulos 
    width: auto

  .botones
    display: flex

  .botones > div,
  .botones > a 
    margin-left: 0.7rem

@media (max-width: 900px)
  .titulos
    display: none

  .hamburguesa
    width: 20px
    height: 20px
    border-radius: 50%
    background-color: #000

  .linea-hamburgesa
    width: 1.4rem
    border-bottom: 1px solid black



