.navbar
  padding: 2rem
  background-color: #999
  color: #333
  display: flex
  flex-direcion: column
  justify-content: space-between
  align-items: center

.bottom
  diplay: none
  cursor: pointer
  flex-direction: column

.line
  height: 0.12rem 
  width: 1.2rem
  background-color: #333
  margin: 3px

.logo
  img
    width: 2rem
    height: auto


  

    





