.container
  padding-top: 1rem
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
  gap: 10px
  width: 60%

.pintura
  width: 100%
  height: 100%

.pinturas
  border: 1px $fondo-claro solid
  width: 100%
