.container
  padding-top: 1rem
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 25px
  width: 100%

.pintura
  width: 100%
  aspect-ratio: 1 / 1.414
  border: 1px #571818 solid
  img
    display: block

@media (min-width: 740px)
  .container
    width: 78%
